<div class="d-flex flex-column p-3 bg-dark text-white" style="width: 350px; min-height: 100vh;">
    <ul class="nav nav-pills flex-column mb-auto">
        {% for item in sidebar_items %}
            {% include "backoffice/components/sidebar_item.html" with item=item %}
        {% endfor %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">
                Cerrar sesión
            </button>
        </form>
    </ul>
</div>