asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
data-wizard==2.0.0
dj-database-url==3.1.1
Django==6.0.2
djangorestframework==3.17.1
et_xmlfile==2.0.0
html-json-forms==1.1.1
idna==3.11
itertable==2.2.0
mysqlclient==2.2.8
natural-keys==2.1.1
openpyxl==3.1.5
pillow==12.1.1
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
