<div class="row mt-5">
  <div class="col-12">
    <div class="card border-danger">
      <div class="card-header bg-danger text-white d-flex align-items-center">
        <h5 class="mb-0 flex-grow-1">Prohibiciones</h5>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p class="d-flex align-items-center mb-3">
              <span class="me-2 text-danger fw-bold">×</span>
              Fumar en habitaciones
            </p>
            <p class="d-flex align-items-center mb-3">
              <span class="me-2 text-danger fw-bold">×</span>
              Dañar propiedad del hotel
            </p>
          </div>

          <div class="col-md-6">
            <p class="d-flex align-items-center mb-3">
              <span class="me-2 text-danger fw-bold">×</span>
              Ingresar personas no registradas
            </p>
            <p class="d-flex align-items-center mb-3">
              <span class="me-2 text-danger fw-bold">×</span>
              Uso de electrodomésticos personales
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>