<div class="card shadow-sm border-0">
  <div class="card-body p-4">
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        <span class="form-label fw-semibold m-1">Correo electrónico</span>

        <input type="email" name="email"
               class="form-control {% if form.email.errors %}is-invalid{% endif %}"
               value="{{ form.email.value|default:'' }}"
               required autocomplete="email">

        {% for error in form.email.errors %}
          <div class="invalid-feedback d-block">
            {{ error }}
          </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary w-100">
        Enviar enlace
      </button>
    </form>
  </div>
</div>