@import url('fonts/inter.css');
@import url('fonts/sora.css');
@import url('fonts/poppins.css');

:root{
    --color1:#121619;
    --color2:#4B1807;
    --color3:#BD1E1E;
    --color4:#FCB442;
    --color5:#F2F3F4;
    --font-titulos: 'Sora', sans-serif;
    --font-cuerpo: 'Poppins', sans-serif;
    --font-ui: 'Inter', sans-serif;
    /* Pesos de fuentes*/
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
}