{% extends "layouts/base_form.html" %}

{% block title %}Habitaciones{% endblock %}
{% block header %}Habitaciones{% endblock %}

{% block content %}
<a href="{% url 'rooms:habitacion_create' %}">Crear habitación</a>

<ul>
  {% for h in habitaciones %}
    <li>
      Habitación {{ h.numero_habitacion }} - {{ h.get_estado_habitacion_display }}
      | <a href="{% url 'rooms:habitacion_update' h.id %}">Editar</a>
      | <a href="{% url 'rooms:habitacion_delete' h.id %}">Eliminar</a>
    </li>
  {% empty %}
    <li>No hay habitaciones registradas.</li>
  {% endfor %}
</ul>
{% endblock %}
