<div class="d-flex flex-column flex-sm-row gap-3 mt-4">
  <a href="{% url 'password_reset' %}" class="btn btn-secondary py-2 flex-fill text-center">
    <span class="text-white">¿Olvidaste tu contraseña?</span>
    <br>
    <span class="text-white fw-semibold text-decoration-none fs-6">haz click para ayudarte!</span>
  </a>

  <a href="{% url 'signup' %}" class="btn btn-primary py-2 flex-fill text-center">
    <span class="text-white">¿No has creado una cuenta?</span>
    <br>
    <span class="text-white fw-semibold text-decoration-none fs-6">haz click aqui!</span>
  </a>
</div>