{% comment %}
    CarouselItem Component
    Uso: {% include "hotel/components/lobby/carousel_item.html" with img="nombre_imagen.webp" titulo="Texto" descripcion="Texto" active=False %}
{% endcomment %}
{% load static %}
<div class="carousel-item {% if active %}active{% endif %} position-relative">
  <img src="{% static img %}" class="d-block w-100 rounded" alt="{{ titulo }}">
    <div class="carousel-caption d-flex flex-column justify-content-center h-100">
        <h2 class="text-white fw-bold">{{ titulo }}</h2>
        <p class="lead">{{ descripcion }}</p>
    </div>
</div>