{% comment %}
    Carousel Component
    Uso: {% include "hotel/components/lobby/carousel.html" with items=carousel_items %}
{% endcomment %}

<div id="carouselLobby" class="carousel slide w-100 mx-auto mb-4" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for item in items %}
      {% include "hotel/components/lobby/carousel_item.html" with img=item.img titulo=item.titulo descripcion=item.descripcion active=forloop.first %}
      {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselLobby" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselLobby" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>