{% extends "base.html" %}
{% load static %}

{% block title %}Login - Hotel LJE{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/core/login.css' %}">
{% endblock %}

{% block content %}

<main class="container py-5">

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-5">

      {% include "hotel/components/login/hero.html" %}

      {% include "hotel/components/login/form.html" %}

      {% include "hotel/components/login/extras.html" %}

    </div>
  </div>

</main>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/core/login.js' %}"></script>
{% endblock %}