{% extends "hotel/layouts/base.html" %}
{% load static %}

{% block title %}Contraseña actualizada - Hotel LJE{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/core/auth.css' %}">
{% endblock %}

{% block content %}

<main class="container py-5 text-center">

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-5">

      {% include "hotel/components/auth/password_reset_complete/hero.html" %}

      {% include "hotel/components/auth/password_reset_complete/extras.html" %}

    </div>
  </div>

</main>

{% endblock %}