{% extends "hotel/layouts/base.html" %}
{% load static %}

{% block title %}Nueva contraseña - Hotel LJE{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/core/auth.css' %}">
{% endblock %}

{% block content %}

<main class="container py-5">

  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-6">

      {% if validlink %}

        {% include "hotel/components/auth/password_reset_confirm/hero.html" %}
        {% include "hotel/components/auth/password_reset_confirm/form.html" %}
        {% include "hotel/components/auth/password_reset_confirm/extras.html" %}

      {% else %}

        {% include "hotel/components/auth/password_reset_confirm/error.html" %}

      {% endif %}

    </div>
  </div>

</main>

{% endblock %}