{% extends "hotel/layouts/base.html" %}
{% load static %}

{% block title %}Recuperar contraseña - Hotel LJE{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/core/auth.css' %}">
{% endblock %}

{% block content %}

<main class="container py-3">

  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-6">

      {% include "hotel/components/auth/password_reset/hero.html" %}

      {% include "hotel/components/auth/password_reset/form.html" %}

      {% include "hotel/components/auth/password_reset/extras.html" %}

    </div>
  </div>

</main>

{% endblock %}