{% extends "backoffice/layouts/base_form.html" %}

{% block title %}Crear Temporada{% endblock %}
{% block form_title %}Crear Temporada{% endblock %}
{% block form_subtitle %}Registro de nueva temporada{% endblock %}
{% block form_actions %}<a href="{% url 'finance:temporada_index' %}" class="btn btn-outline-secondary btn-sm">Volver</a>{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}
