{% comment %}
    Componente: promo_grid.html
    Uso: {% include "hotel/components/promociones/promo_grid.html" with promos=promociones_list %}
    
    Muestra las promociones en un grid de Bootstrap
    - 2 columnas en desktop (col-md-6)
    - 1 columna en móvil
{% endcomment %}

<div class="row g-4">
    {% for promo in promos %}
        <div class="col-12 col-md-6">
            {% include "hotel/components/promociones/promo_card.html" with promo=promo %}
        </div>
    {% empty %}
        <div class="col-12 text-center py-5">
            <p class="lead text-white">No hay promociones disponibles en este momento.</p>
        </div>
    {% endfor %}
</div>